@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(222,222,222);
    /* background-image: url("https://thumb.viva.co.id/media/frontend/thumbs3/2021/12/17/61bc03be56b33-kantor-pam-jaya-jakarta_1265_711.jpg") orange 0% 50%;
    background-size: cover; */
}
.app {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    padding: 18px;
    margin-bottom: 24px;
}

.header h1 {
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

.logo {
    width: 300px;
    height: auto;
}

.state {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.payment {
    text-align: center;
}

Button{
    width: fit-content;
    padding: 12px;
    margin-top: 24px;
}

.payment-method {
    background-color: aliceblue;
    width: 50%;
}

.list-item {
    padding: 12px;
    text-align: left;
    background-color: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 12px;
}

.payment-list {
    width: 50%;
    background-color: white;
    border-radius: 25px;
}

.radio-group {
    padding: 50px;
}
.icon {
    width: 64px;
    height: auto;
    padding-right: 50px;
}
.complete {
    color: rgb(255, 0, 0);
}

.balance {
    color: blue;
    font-weight: bold;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
